.App {
  text-align: center;
  /*height:100vh;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  padding: 15%;
  background-image: linear-gradient(
                    to right,
                    #c95e3e 0%,
                    #ebc071 51%,
                    #c95e3e 100%
                );
 
}
/*background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);*/

.result{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbDKHfPjcIzYm_C6WNO1U7QqTDYknyuDiD_g&usqp=CAU);
background-repeat: no-repeat;
width: 10px;
height: 20px;

}
